:root {
  --tileSize: 48px;
  --pop: hsl(340, 100%, 50%);
}

@font-face {
  font-family: PressStart2P;
  src: url(/fonts/PressStart2P-Regular.ttf);
}

@font-face {
  font-family: Dosis;
  src: url(/fonts/Dosis-VariableFont_wght.ttf);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  color: white;
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#game-wrap {
  position: relative;
  box-sizing: border-box;
}

/* <<<<<< GAME BOARD >>>>> */

#game-board {
  --max: 720px;
  --min: 480px;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 75vw;
  height: calc((75vw / 3) * 2);
  min-width: var(--min);
  min-height: calc((var(--min) / 3) * 2);
  max-width: var(--max);
  max-height: calc((var(--max) / 3) * 2);
  color: white;
  font-family: PressStart2P;
  /* font-size: smaller; */
  box-sizing: border-box;
  border: 1px solid var(--pop);
}

.turf {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  width: 40%;
}

.turf.hero {
  background-color: hsla(220, 100%, 50%, 0.25);
}

.turf.enemy {
  background-color: hsla(0, 100%, 50%, 0.25);
}

.actor {
  --size: 3rem;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--size);
  height: var(--size);
  font-size: 1rem;
  /* border-width: 2px; */
  /* border-style: solid; */
  /* border-radius: 50%; */
}

@keyframes blink {
  0% {
    filter: brightness(100%);
  }
  50% {
    filter: brightness(300%);
  }
  100% {
    filter: brightness(100%);
  }
}

.actor.selected {
  animation: blink 1s infinite;
}

#heroActor {
  --color: hsl(220, 100%, 50%);
  color: var(--color);
  /* border-color: var(--color); */
  border: 2px solid var(--color);
  border-radius: 50%;
}

.enemyActor::before {
  --color: hsl(0, 100%, 50%);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* color: var(--color); */
  /* border-color: var(--color); */
  background-color: var(--color);
  clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
  /* clip-path: polygon(5px 0, 0 5px, 0 10px, 5px 15px, 30px 15px, 35px 10px, 35px 5px, 30px 0 ); */
}

.enemyActor::after {
  content: attr(data-actor-name);
  position: absolute;
  display: block;
  top: 0;
  /* left: 0; */
  width: 100%;
  /* height: 100%; */
  padding-bottom: 1rem;
  text-align: center;
  white-space: nowrap;
  font-family: Dosis;
  font-size: small;
  text-transform: uppercase;
  transition: 0.1s ease-out;
  opacity: 0;
  /* background-color: black; */
}

.enemyActor:hover::after {
  transform: translateY(-100%);
  opacity: 1;
}

/* #enemySide.aiming .enemyActor:hover::before {
  cursor: none;
  background-color: orange;
} */

/* #enemySide.aiming .enemyActor {
  cursor: none;
} */

/* #enemySide.aiming .enemyActor:hover::after {
  --offset: -5px;
  content: '';
  position: absolute;
  display: block;
  top: var(--offset);
  left: var(--offset);
  right: var(--offset);
  bottom: var(--offset);
  border: 2px solid orange;
  border-radius: 10px;
} */

#enemy-grid-wrap {
  position: relative;
  width: 100%;
  /* border: 1px solid red; */
}

#enemy-grid-wrap::before {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#enemy-grid {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#enemy-grid div {
  border: 1px solid hsla(0, 0%, 100%, 0.25);
}

@keyframes throb {
  0% {
    padding: 5px;
  }
  50% {
    padding: 8px;
  }
  100% {
    padding: 5px;
  }
}

#confirm-button {
  --color: limegreen;
  appearance: none;
  cursor: pointer;
  position: absolute;
  display: flex;
  /* place-content: center center; */
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: var(--tileSize);
  height: var(--tileSize);
  padding: 5px;
  background-color: transparent;
  border: none;
  transition: 0.1s ease-out;
  opacity: 0;
  z-index: -1;
}

#confirm-button.active {
  animation: throb 1s infinite;
  opacity: 1;
  z-index: 100;
}

#confirm-button::before {
  --color: limegreen;
  content: "\2714";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 50%;
  box-sizing: border-box;
  transition: 0.2s ease-out;
}

#confirm-button.active:hover::before {
  background-color: limegreen;
  color: black;
}

/* <<<<<< GAME MENU >>>>> */

#game-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.2s ease-out;
  background-color: hsla(0, 0%, 0%, 0.9);
  padding: 2rem;
  border: 2px solid cyan;
  border-radius: 10px;
  box-sizing: border-box;
  opacity: 0;
  z-index: -1;
}

#game-menu.active {
  opacity: 1;
  z-index: 2;
}

#game-bottom-cache {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid var(--pop);
  box-sizing: border-box;
  border-radius: 10px;
}

#game-bottom-cache button {
  appearance: none;
  cursor: pointer;
  background-color: transparent;
  padding: 1em 1.5em;
  color: white;
  font-family: PressStart2P;
  line-height: 1em;
  text-align: center;
  transition: 0.1s ease-out;
  border: 2px solid white;
  border-radius: 100px;
}

#game-bottom-cache button:hover {
  background-color: white;
  color: black;
}

#game-bottom-cache button:not(:last-of-type) {
  margin-right: 1em;
}

/* <<<<<< MESSAGE BOX >>>>> */

#messageBox {
  position: absolute;
  /* display: none; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
  transition: 0.1s ease-out;
  box-sizing: border-box;
  color: hsl(0, 0%, 90%);
  font-family: PressStart2P;
  line-height: 1.75em;
  /* border-radius: 10px; */
  opacity: 0;
  z-index: -1;
}

#messageBox::before {
  --offset: 10px;
  --negative: calc(var(--offset) * -1);
  content: "";
  position: absolute;
  display: block;
  top: var(--negative);
  left: var(--negative);
  right: var(--negative);
  bottom: var(--negative);
  background-color: black;
  filter: blur(var(--offset));
  opacity: 0.95;
}

#messageBox.active {
  /* position: absolute; */
  /* display: none; */
  /* top: 0; */
  /* left: 0; */
  display: flex;
  align-items: center;
  opacity: 1;
  z-index: 1;
}

#messageBox-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  box-sizing: border-box;
  border: 2px solid #00ffff;
  border-radius: 10px;
}

#messageBox-inner input {
  appearance: none;
  justify-self: center;
  background-color: transparent;
  padding: 1rem;
  color: yellow;
  font-family: Dosis;
  text-align: center;
  text-transform: uppercase;
  caret-color: white;
  line-height: 1em;
  letter-spacing: 0.25rem;
  /* caret-color: transparent; */
  outline: none;
  border: none;
  border: 1.5px solid white;
  border-radius: 10px;
  font-size: 1.5rem;
}

/* <<<<<< MESSAGE BOX CURSOR >>>>> */

#messageBox #cursorNext {
  position: absolute;
  display: flex;
  appearance: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  /* clip-path: polygon(0% 0%, 50% 100%, 100% 0%); */
  line-height: 1em;
  bottom: 0;
  left: 50%;
  width: 1.5rem;
  height: 1rem;
  transform: translate(-50%, 50%);
  border: none;
  /* border-radius: 50%; */
  cursor: pointer;
  /* TWIRL ANIMATION */
}

#messageBox #cursorNext::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
  background-color: var(--pop);
  animation: cursor-bob 1s infinite;
  transition: 0.1s ease-out;
  box-sizing: border-box;
  box-shadow: 0 0 10px black;
  /* border: 1px solid red; */
}

@keyframes cursor-bob {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-5px);
  }
}
